body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#model-container {
  height: 800px;
  width: auto;

}

.element-svg {
  position: absolute;
  height: 800px;
  width: auto;
  /*z-index: 5;*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply;
}

.item-Headgear {
  position: absolute;
  height: 800px;
  width: auto;
  z-index: 999;
}

.background-image {
  position: absolute;
  /*top: 0;
  left: 0;*/
  height: 800px;
  width: auto;
  z-index: 1;
}

.element-base-image {
  position: absolute;
  height: 800px;
  width: auto;
}

.options {
  display: flex;
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 3;
}

.notes {
  display: flex;
  position: fixed;
  top: 2em;
  right: 2em;
  z-index: 3;
}

.color {
  height: 36px;
  width: 36px;
  margin-left: 0.5em;
  border-radius: 18px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 2px solid #aaa;
  cursor: pointer;
}


p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

#category-nav-content {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;

  height: 750px;
  overflow: auto;
  padding: 10px;
}